# Erlang
.eunit/*
deps/*
priv/*
*.o
ebin/*.beam
ebin/riak_pb.app
doc/*
.qc
.eqc-info
current_counterexample.eqc
src/riak_pb_messages.erl
.local_dialyzer_plt
dialyzer_unhandled_warnings
dialyzer_warnings
.rebar/*

include/*_pb.hrl
include/riak.hrl
include/riak_dt.hrl
include/riak_kv.hrl
include/riak_search.hrl
include/riak_yokozuna.hrl
src/riak.erl
src/riak_dt.erl
src/riak_kv.erl
src/riak_pb_messages.erl
src/riak_search.erl
src/riak_yokozuna.erl

# Java
target/*

# C
c/*
